/*
 * Filename: dashboard.css
 * Author: Usu Edeaghe
 * Date: December 1, 2023
 * Description: This file contains the styles for the Dashboard feature
 */

hr {
    border: 2px solid;
}

#btn {
    margin: 10px;
}

.campaign {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.btn-section {
    margin-top: 15px;
}

.btn btn-warning {
    margin-right: 10vh;
}

#campaign-1 h3 {
    font-size: 20px;
    color: #333;
}

#campaign-1 p {
    font-size: 16px;
    color: #666;
}

.progress {
    height: 20px;
    background-color: #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    width: 50%;
    /* Adjust this width to show progress */
    background-color: #007bff;
    border-radius: 5px;
}

/* .button-container {
    background-color: #f2f2f2;
    border-style: none;
    padding: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center vertically */
/* margin-left: 25vh;
} */

.btn-container {
    justify-content: center;
    margin-bottom: 10%;
}