/* src/index.css or src/App.css */
@import "~bootstrap/dist/css/bootstrap.css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Component Styles*/
.header-text a {
  margin-left: 20px;
}

/* Register Page Styles */

.register-title {
  margin-top: 20px;
}

.form-div,
.form-container {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 5px 5px 5px #dcdcdc;

}

.password-explained {
  background-color: #d9e6f2;
  border-radius: 5px;
  width: 20%;
  padding: 20px;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  width: auto;
  /* Use Flexbox layout */
  justify-content: space-between;
  /* Space elements evenly */

}

.form-firstName,
.form-lastName {
  width: 49%;
  /* Set the width for both columns */
}

.form-emailAddress,
.form-confirmEmailAddress,
.form-password {
  width: 100%;
}

.form-div .btn btn-primary {
  width: 15%;
}

/* Login Page Styles */
.form-elements-div {
  margin-bottom: 20px;

  justify-content: space-between;

}

.input-password,
.input-email {
  margin-bottom: 20px;
}

#login-btn {
  margin-bottom: 20px;
}


/* Michael's Pet Project CSS */
.btn-primary {
  background-color: #007bff;
  color: #fff;
}


#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: lightblue;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
}

.dropdown-container {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  margin: 0 auto;
}


.dropdown-container h4 {
  padding-right: 10px;
  text-align: center;
  margin: 0 auto;
}

.custom-popup-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  z-index: 1000;
  /* Ensure it's above other content */
}

.custom-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.custom-popup p {
  font-size: 16px;
  margin-bottom: 20px;
}

.custom-popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.custom-popup button:hover {
  background-color: #0056b3;
}



.categories-dropdown-content,
.location-dropdown-content {
  display: none;
  position: absolute;
  top: 35%;
  /* Position it below the dropdown container. */
  left: 720px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px;
  /* Add some padding to the items */
  border-radius: 5px;
  /* Add rounded corners to the content */
  text-align: left;
}

.categories-dropdown-content a {
  display: block;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
}

.location-dropdown-content a {
  display: block;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
}

.dropdown.active .dropdown-content {
  display: block;
}

.campaign-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three boxes per row */
  gap: 30px;
  /* Gap between boxes */
}

/* Style each campaign box */
.campaign-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  /* Add margin to create space between boxes */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.campaign-box-content {
  padding: 20px;
  text-align: center;
}

.campaign-image {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
}

#campaign-1 h3 {
  font-size: 20px;
  color: #333;
}

#campaign-1 p {
  font-size: 16px;
  color: #666;
}

.progress {
  height: 20px;
  background-color: #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  width: 50%;
  /* Adjust this width to show progress */
  background-color: #007bff;
  border-radius: 5px;
}